 table
{
	border-style:solid;
	border-width:5px;
	border-color:purple;
}
 
 body {
  background-color: #BAFFB4;
  color: #FF6363;
  font-size: 30px;
  padding: 5px;
  border: 5px dashed #F2789F;
  border-radius: 10px;
}

 input {
	 background-color: linen;
	 font-size: 20px;
	 color: solid #F2789F;
 }
 
 button {
	 background-color: linen;
	 font-size: 20px;
	 color: solid #F2789F;
 }
 